@media screen and (min-width: 320px ){
    .mobile-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 75px;
    }

    .logo {
        height: 35px;
    }

    .contacts {
        font-family: Gilroy;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contacts p {
        font-weight: 300;
        margin-bottom: 5px;
    }

    .contacts a {
        font-weight: 300;
        color: #f5112c;
        border-bottom: 1px solid #fa8895;
    }
}