@media screen and (min-width: 320px ){
    .section-teachers {
        margin-bottom: 20px;
    }

    .block-teacher__headline {
        margin-bottom: 40px;
    }

    .block-teacher__headline h2 {
        text-align: center;
        font-family: Gilroy;
        font-size: 24px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .block-teacher__contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .block-teacher__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
    }

    .block-teacher__content img {
        width: 100%;
        margin-bottom: 15px;
    }

    .block-teacher__content h3 {
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 17px;
    }

    .block-teacher__content p {
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 300;
    }

}


@media screen and (min-width: 768px){
    .block-teacher__headline {
        margin-bottom: 55px;
    }

    .block-teacher__headline h2 {
        text-align: left;
        font-size: 30px;
    }

    .block-teacher__contents {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .block-teacher__content {
        width: 355px;
        margin-bottom: 40px;
    }
}