@media screen and (min-width: 320px ){
    .section-how {
        padding: 70px 0;
        background-color: #f8f8f8;
        margin-bottom: 85px;
    }

    .block-how__headline {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block-how__headline h2 {
        text-align: center;
        font-family: Gilroy;
        font-size: 24px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .block-how__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
    }

    .block-how__content-head {
        text-align: center;
        padding: 0 20px;
        margin-bottom: 15px;
    }

    .block-how__content-head span {
        float: left;
        display: block;
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 800;
        color: #f5112c;
        line-height: 19px;
    }

    .block-how__content-head h3 {
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 800;
    }

    .block-how__content p {
        text-align: center;
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 300;
        padding: 0 10px;
        margin-bottom: 25px;
    }

    .block-how__content img {
        width: 100%;
        zoom: normal;
    }
}

@media screen and (min-width: 768px ){
    .block-how__headline {
        align-items: flex-start;
    }

    .block-how__content {
        justify-content: space-between;
    }

    .block-how__content:first-child {
        flex-direction: row;
    }

    .block-how__content:nth-child(2) {
        flex-direction: row-reverse;
    }

    .block-how__content:nth-child(3) {
        flex-direction: row;
    }

    .block-how__content:last-child {
        flex-direction: row-reverse;
    }

    .block-how__content img {
        width: 345px;
    }

    .block-how__text {
        width: 330px;
    }

    .block-how__content-head {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        text-align: unset;
    }

    .block-how__content-head h3 {
        margin-left: 18px;
    }

    .block-how__text p {
        text-align: left;
        padding: 0 30px;
    }
}