@media screen and (min-width: 320px ){
    .section-price {
        margin-bottom: 60px;
    }

    .block-price__illust {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 320px;
        max-width: 480px;
        height: 388px;
        margin-bottom: 40px;
        z-index: 10;
    }

    .big-bubble {
        position: relative;
        width: 230px;
        height: 230px;
        border-radius: 50%;
        background-color: #f5f5f5;
    }

    .big-bubble:after {
        position: absolute;
        top: 40px;
        right: 40px;
        bottom: 40px;
        left: 40px;
        content: "";
        border-radius: 50%;
        background-color: white;
    }

    .block-price__illust img {
        position: absolute;
        left: 0;
        height: 388px;
        z-index: 4;
    }

    .block-price__illust .max {
        position: absolute;
        top: 50px;
        left: 65px;
        width: 62px;
        height: 62px;
        background-color: #2429ff;
    }

    .block-price__illust .max:after {
        position: absolute;
        content: "";
        top: 12px;
        right: 12px;
        bottom: 12px;
        left: 12px;
        border-radius: 50%;
        background-color: white;
    }

    .block-price__illust .wave {
        position: absolute;
        top: 214px;
        right: 40px;
        z-index: 8;
    }


    .block-price__illust .wave .circle {
        position: relative;
        width: 90px;
        height: 20px;
        background: radial-gradient(16px, transparent, transparent 4px, #2429ff 4px, #2429ff 10px, transparent 11px);
        background-size: 30px 40px;
    }
    .block-price__illust .wave .circle2 {
        top: -1px;
        left: 15px;
        background-position: 0px -20px;
    }

    .block-price__info {
        padding: 0 15px;
    }

    .block-price__info-headline {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .block-price__info-headline h2 {
        text-align: center;
        font-family: Gilroy;
        font-size: 24px;
        font-weight: 800;
        text-transform: uppercase;
        max-width: 200px;
    }

    .block-price__info-headline h3 {
        font-family: Gilroy;
        font-size: 24px;
        font-weight: 300;
        color: #f5112c;
        margin-bottom: 15px;
    }

    .block-price__info-headline p {
        text-align: center;
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 300;
    }

    .block-price__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .block-price__content h3 {
        text-align: center;
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 15px;
    }

    .block-price__content p {
        text-align: center;
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 300;
    }
}

@media screen and (min-width: 768px){
    .flex-price {
        display: flex;
        flex-direction: row;
    }

    .block-price__illust {
        height: 875px;
        width: 320px;
        max-width: unset;
        margin-right: 20px;
    }

    .block-price__illust img {
        height: 875px;
        left: -315px;
    }

    .big-bubble {
        position: absolute;
        right: 15px;
        width: 433px;
        height: 433px;
    }

    .big-bubble::after {
        top: 90px;
        right: 90px;
        bottom: 90px;
        left: 90px;
    }

    .block-price__illust .max {
        top: 155px;
        left: -71px;
        width: 141px;
        height: 141px;
    }

    .block-price__illust .max:after {
        top: 26px;
        right: 26px;
        bottom: 26px;
        left: 26px;
    }

    .block-price__illust .wave {
        top: unset;
        right: 50px;
        width: 110px;
        bottom: 250px;
    }

    .block-price__illust .wave .circle {
        width: 120px;
    }

    .block-price__info {
        width: 590px;
        padding: 0;
    }

    .block-price__info-headline {
        align-items: flex-start;
    }

    .block-price__info-headline h2 {
        text-align: left;
        max-width: none;
    }

    .block-price__info-headline p {
        text-align: left;
    }

    .block-price__contents {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .block-price__content {
        width: 49%;
        align-items: flex-start;
        margin-bottom: 35px;
    }

    .block-price__content h3 {
        text-align: left;
    }

    .block-price__content p {
        text-align: left;
    }


}

@media screen and (min-width: 1366px){


    .block-price__illust {
        width: 495px;
        height: 800px;
    }

    .block-price__illust img {
        height: 800px;
        left: -65px;
    }

    .big-bubble {
        width: 435px;
        height: 435px;
        right: 0;
    }

    .big-bubble::after {
        top: 95px;
        right: 95px;
        bottom: 95px;
        left: 95px;
    }

    .block-price__illust .max {
        width: 152px;
        height: 152px;
        top: 105px;
        left: 85px;
    }

    .block-price__illust .max:after {
        top: 33px;
        right: 33px;
        bottom: 33px;
        left: 33px;
    }

    .block-price__info {
        width: 715px;
        margin: 0 auto;
    }
}