/*Started Kit for Developer*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li{
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

/** {*/
/*box-sizing: border-box;*/
/*}*/

button, input {
    outline: none;
    border: none;
}

section {
    margin-bottom: 80px;
}